<div id="container">
  <button (click)="cargar()">Recargar opciones</button>
  <div id="selects" (change)="mostrarProductos()">
    <select [(ngModel)]="filtrosElegidos.categoria">
      <option [value]=""></option>
      @for (categoria of categorias; track $index) {
      <option [value]="categoria.Nombre">{{ categoria.Nombre }}</option>
      }
    </select>
    <select [(ngModel)]="filtrosElegidos.subcategoria">
      <option [value]=""></option>
      @for (subcategoria of subcategorias; track $index) {
      <option [value]="subcategoria.Nombre">{{ subcategoria.Nombre }}</option>
      }
    </select>
    <select [(ngModel)]="filtrosElegidos.proveedor">
      <option [value]=""></option>
      @for (proveedor of proveedores; track $index) {
      <option [value]="proveedor.Nombre">{{ proveedor.Nombre }}</option>
      }
    </select>
  </div>
  <button (click)="mostrarProductos()">Mostrar productos (por consola)</button>
</div>

<!-- <app-invetario [productos]="productos"></app-invetario> -->
