#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border-top: .1rem solid white; */
  font-size: 1.5rem;
}

#selects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5% 2%;
  text-align: center;
}

.selector {
  margin: auto 1%;
  text-align: center;
}

.nombre {
  text-align: center;
  color: white;
}
