<div id="container">
  <div id="selects" (change)="mostrarProductos()">
    <div class="selector">
      <p class="nombre">Categoria</p>
      <select [(ngModel)]="filtrosElegidos.categoria" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (categoria of categorias; track $index) {
        <option [value]="categoria.nombre">{{ categoria.nombre }}</option>
        }
      </select>
    </div>
    <div class="selector">
      <p class="nombre">Subcategoria</p>
      <select [(ngModel)]="filtrosElegidos.subcategoria" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (subcategoria of subcategorias; track $index) {
        <option [value]="subcategoria.nombre">{{ subcategoria.nombre }}</option>
        }
      </select>
    </div>
    <div class="selector">
      <p class="nombre">Proveedor</p>
      <select [(ngModel)]="filtrosElegidos.proveedor" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (proveedor of proveedores; track $index) {
        <option [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
        }
      </select>
    </div>
  </div>

  <button [disabled]="resetBtnDisabled" type="button" id="resetBtn" (click)="resetSelects()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#907f7f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eraser-icon lucide-eraser"><path d="M21 21H8a2 2 0 0 1-1.42-.587l-3.994-3.999a2 2 0 0 1 0-2.828l10-10a2 2 0 0 1 2.829 0l5.999 6a2 2 0 0 1 0 2.828L12.834 21"/><path d="m5.082 11.09 8.828 8.828"/></svg>
  </button>
</div>

<div class="table-wrapper">
  <app-main-table [productosEntrantes]="productos"></app-main-table>
</div>
