<div id="container">
  <div id="selects" (change)="mostrarProductos()">
    <div class="selector">
      <p class="nombre">Categoria</p>
      <select [(ngModel)]="filtrosElegidos.categoria" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (categoria of categorias; track $index) {
        <option [value]="categoria.nombre">{{ categoria.nombre }}</option>
        }
      </select>
    </div>
    <div class="selector">
      <p class="nombre">Subcategoria</p>
      <select [(ngModel)]="filtrosElegidos.subcategoria" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (subcategoria of subcategorias; track $index) {
        <option [value]="subcategoria.nombre">{{ subcategoria.nombre }}</option>
        }
      </select>
    </div>
    <div class="selector">
      <p class="nombre">Proveedor</p>
      <select [(ngModel)]="filtrosElegidos.proveedor" [disabled]="resetBtnDisabled">
        <option value="Todos">Todos</option>
        @for (proveedor of proveedores; track $index) {
        <option [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
        }
      </select>
    </div>
  </div>

  <button [disabled]="resetBtnDisabled" type="button" id="resetBtn" class="btn btn-danger btn-floating" (click)="resetSelects()">
    <i id="icono" [class]='icono'></i>
  </button>
</div>

<div class="table-wrapper">
  <app-main-table [productosEntrantes]="productos"></app-main-table>
</div>
