<div class="container">
  <h2>Actualizar producto</h2>

  <form [formGroup]="miFormulario" (ngSubmit)="actualizar()">
    <div class="form-grid">

      <!-- ID -->
      <div class="form-group">
        <label for="id" class="form-label">ID</label>
        <input
          type="number"
          class="form-control"
          id="id"
          formControlName="id"
          (blur)="cargarProducto(miFormulario.get('id')?.value)">
      </div>

      <!-- Nombre -->
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="Nombre">
      </div>

      <!-- Marca -->
      <div class="form-group">
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" formControlName="Marca">
      </div>

      <!-- Stock -->
      <div class="form-group">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock" formControlName="Stock">
      </div>

      <!-- Proveedor -->
      <div class="form-group">
        <label for="proveedor" class="form-label">Proveedor</label>
        <select id="proveedor" formControlName="ProveedorID" class="form-select">
          <option value="" disabled selected>Seleccione un proveedor</option>
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.proveedorid">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>

      <!-- ¿Es perecedero? -->
      <div class="form-group">
        <label for="perece" class="form-label">¿Es perecedero?</label>
        <select class="form-control" id="perece" formControlName="Perece">
          <option value="0">No</option>
          <option value="1">Sí</option>
        </select>
      </div>

      <!-- Fecha de Vencimiento (solo si es perecedero) -->
      <div class="form-group" *ngIf="miFormulario.get('Perece')?.value == '1'">
        <label for="Fecha_Vencimiento" class="form-label">Fecha de Vencimiento</label>
        <input type="date" class="form-control" id="Fecha_Vencimiento" formControlName="Fecha_Vencimiento">
      </div>

    </div>

    <!-- Botones -->
    <div class="button-container mt-3">
      <button type="submit" class="btn btn-secondary">Actualizar</button>
    </div>
   <div *ngIf="mensajeExito"
     class="alert mt-2"
     [ngClass]="esError ? 'alert-danger' : 'alert-success'"
     role="alert">
  {{ mensajeExito }}
</div>
  </form>


</div>
