.container {
    padding: 1% 2%;
    background-color: rgb(174, 216, 188);
    border: 1px solid green;
    margin: auto;
    width: 100vw;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}


h2 {
    color: #333;
    margin: 1%;
}

label {
    color: #666;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #5a9;
    border-radius: 4px;
    font-size: 12px;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    padding: 4px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn {
    background-color: #5a9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.btn:hover {
    background-color: #47a07b;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
}

.btn-danger:hover {
    background-color: #c9302c;
}

input[readonly] {
    color:#666;
    cursor: not-allowed;
}

input[type="checkbox"] {
    width: 100%;
}

select{
    padding: 4px;
    width: 100%;
}

.form-group.checkbox-group {
    grid-column: span 1;
    width: auto;
}
input[type="checkbox"] {
    width: auto;
    margin: auto;
}

.alert {
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}
  
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
