.space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: white;
  background-image: url(../../../../public/imagen_principal.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#imagenPrincipal {
  width: 50%;
  margin-bottom: 1%;
}

.presentacion {
  padding: 54px;
  border-radius: 12.5px;
  background-color: #ffffff4c;
}



