<table class="table table-bordered table-striped table-hover">
    <thead class="bg-dark">
        <tr>
            <th scope="col">Producto ID</th>
            <th scope="col">Nombre Proveedor</th>
            <th scope="col">Marca</th>
            <th scope="col">Stock</th>
          </tr>
    </thead>
    <tbody>
        @for (producto of productos; track $index) {
            <tr>
              <th scope="row">{{producto.producto_id}}</th>
              <td>{{producto.nombre}}</td>
              <td>{{producto.marca}}</td>
              <td>{{producto.stock}}</td>
              <!-- <button type="button" class="btn btn-outline-primary" [routerLink]="['/tabla-general', alumno.ID]">Detalle</button> -->
              <!-- <button type="button" class="btn btn-outline-danger" (click)="eliminarAlumno(alumno.ID)">Eliminar</button> -->
            </tr>
          }
    </tbody>
</table>
