<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex align-items-center me-auto">
      <img src="logo.ico" id="logo" alt="Logo PlusPet" loading="lazy" />
      <h1 class="navbar-brand mb-0" id="name">PlusPet</h1>
    </div>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>-->
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNav"
    >
        <div class="navbar-nav nav-pills">
          @for (nav of navs; track $index) {
          <a
            id="{{ nav }}"
            class="nav-link"
            [class]="$index == 0 ? 'active' : ''"
            [routerLink]="getRouterLink(nav)"
            (click)="select($event)"
            >{{ navs[$index] }}</a
          >
          }
        </div>
      </div>
    </div>
  </nav>
  <router-outlet />