.container {
    background-color: #AED8BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    margin-top: 10px;
}

form {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

h2 {  
    color: #333;
    margin: 1%;
}

.mb-3 {
    flex: 1 0 45%;
    margin-bottom: 0;
}

.mb-3 label {
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#nombre,
#marca,
#stock,
#perece,
#CategoriaSubcategoriaID,
#Proveedor {
    flex: 1 0 45%;
    max-width: 380px;
}

.btn-primary {
    background-color: #5a9;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    align-self: flex-end;
}

.btn-primary:hover {
    background-color: #00833e;
}

.alert {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}