<div class="container">
  <h2>Agregar producto</h2>
  <form [formGroup]="miFormulario" (ngSubmit)="enviar()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="Nombre">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="stock" formControlName="Stock">
    </div>
    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca" formControlName="Marca">
    </div>
    <div class="mb-3">
      <label for="perece" class="form-label">¿Es perecedero?</label>
      <select class="form-control" id="perece" formControlName="Perece">
        <option value="0">No</option>
        <option value="1">Sí</option>
      </select>
    </div>
    <div class="mb-3" *ngIf="miFormulario.get('Perece')?.value == '1'">
      <label for="Fecha_Vencimiento" class="form-label">Fecha de Vencimiento</label>
      <input type="date" class="form-control" id="Fecha_Vencimiento" formControlName="Fecha_Vencimiento">
    </div>
    <div class="mb-3">
      <label for="CategoriaSubcategoriaID" class="form-label">Subcategoria</label>
      <select class="form-control" id="CategoriaSubcategoriaID" formControlName="CategoriaSubcategoriaID">
        <option value="" disabled selected>Seleccione una subcategoría</option>
        <option *ngFor="let sub of subcategorias" [value]="sub.id">
          {{ sub.nombre }}
        </option>
      </select>
    </div>

    <!-- ESTE ES EL CAMBIO 👇 -->
    <div class="mb-3">
      <label for="Proveedor" class="form-label">Proveedor</label>
      <select class="form-control" id="Proveedor" formControlName="ProveedorID">
        <option value="" disabled selected>Seleccione un proveedor</option>
        <option *ngFor="let prov of proveedores" [value]="prov.id">
          {{ prov.nombre }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Enviar datos</button>
    <!-- Mensajes de éxito y error -->
    <div *ngIf="mensaje" class="alert" [ngClass]="{'alert-success': exito, 'alert-danger': !exito}">
      {{ mensaje }}
    </div>
  </form>
</div>
