:host {
    display: block;
    width: 100%;
}

.container {
    background-color: #AED8BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: none;
}

form {
    background: #fff;
    width: 80%; /* Usa el 80% de TODO el ancho de pantalla */
    max-width: none; /* Sin límite */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px; /* separación horizontal */
    row-gap: 1px;     /* separación vertical chica */
}

form {
  font-size: 1rem !important;
}

.form-control {
    font-size: 1rem !important;
}

h2 {
    color: white !important;
    margin: 1%;
}

.mb-3 {
    flex: 1 1 45%;
    min-width: 250px;
    margin-bottom: 0;
}

.mb-3 label {
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #5a9;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    align-self: flex-end;
}

.btn-primary:hover {
    background-color: #00833e;
}

.alert {
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
