* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 18vh;
}

.navbar-nav {
  justify-content: end;
}

#logo {
  height: 1.8rem;
  margin: 1%;
}

#name, #navbarNav {
  font-size: 1.3rem !important;
  }

.nav-link {
  width: max-content;
  text-wrap: nowrap;
  padding: 3%;
  margin: 2%;
  align-content: center;
}
